.editor {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
  flex-basis: 0;
}

.topSection {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
